@model IEnumerable<Dislab.Base.Features.Answer.ViewModel.GetAllAnswerVM>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/MyProfile/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12  col-md-6 order-md-1 order-last">
                <p>Question Title</p>
            </div>
            <div class="col-12  col-md-12 order-md-1 order-last">

                @if (Model.Any())
                {
                    <h4>Question Title: @Model.First().QuestionTitle</h4>
                }
                else
                {
                    <p>No data available</p>
                }
              
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-10 fw-bold">
            
            </div>
            <div class="col-2">
        

            </div>
            <div class="card-body">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th class="fw-bold">No.</th>
                            <th class="fw-bold">Answer Body</th>
                            <th class="fw-bold" style="width: 250px">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                       
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        var serialNumber = Model.ToList().IndexOf(item) + 1; 
                                    }
                                    @serialNumber 
                                </td>
                              
                                <td>@item.AnswerBody</td>
                                <td>
                                    <div class="buttons">
                                        <a asp-area="MyProfile" asp-controller="Answer" asp-action="Update" asp-route-id="@item.Id" class="btn icon btn-primary">
                                            Edit
                                        </a>
                                        <a onclick="deletePost('@item.Id')" class="btn icon btn-danger">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                         }

                        @*Delete Modal Starts*@
                        <form id="deleteForm" method="post" asp-antiforgery="true"
                              asp-area="MyProfile" asp-controller="Answer" asp-action="Delete" asp-route-id="">
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Delete?</h5>

                                            <input type="hidden" id="deleteId" value="" name="id" />

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="m-3">You won't be able to revert this!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger" id="deleteButton" onclick="displayAlert()">Yes! Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @*Delete Modal Ends*@

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function deletePost(id) {
            var modal = $("#exampleModal");
            modal.find('.modal-body p').text('You wont be able to revert this!');
            $("#deleteId").val(id);
            $("#deleteForm").attr("action", "/MyProfile/Answer/Delete");
            modal.modal('show');
        };

        $("#deleteButton").click(function () {
            $("#deleteForm").submit();
        });

        function displayAlert() {
            Swal.fire({
                title: "Good job!",
                text: "Your data is Deleted",
                icon: "success",

            });
        }


    </script>

    }

