@model Dislab.Base.Features.Answer.ViewModel.AdminAnswerVM;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/MyProfile/Views/Shared/_Layout.cshtml";
}

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-8 m-auto col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Update Answer</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal novalidate role="form" method="post"
                              asp-area="MyProfile" asp-controller="Answer" asp-action="Update" asp-antiforgery="true">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="Id" hidden asp-for="Id">
                                        <label asp-for="AnswerBody" class="mb-2 fw-bold">Answer Body</label>
                                        <textarea asp-for="AnswerBody" name="AnswerBody" maxlength="2000" class="form-control mb-4" placeholder="Answer Body" rows="3"></textarea>
                                        <span asp-validation-for="AnswerBody" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

